/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/


body {
    box-sizing: border-box;
    width: 100%;
    height: 4475px;
    /* margin: 0px; */
    /* padding: 0px; */
    /* line-height: 25px; */
}
.tudo  {
    /* padding: 0 20px; */
    background: #F5F5F5;
    font-family: Raleway;
    /* line-height:110%; */
    width: 100%;
    position: absolute;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
width: 100%;
padding: 0 0px;
}

.menu__header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0px 20px;
    align-items: center;
    font-size: 16px;
}

.nombre{
    flex-wrap: nowrap;
    gap: 16px;
    display: flex;
    font-weight: bold;    
}






/*Sección Title*/

section.title{
    display: flex;
    padding: 0 20px;
}

.title__div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.title__div img{
    width: 98px;
}

.title__bio{
    font-weight: bold;
    font-size: 22px;
    justify-content: center; 
}
.title__container h3{
    font-weight: bold;
    font-size: 22px;
    justify-content: start; 
}

.about__container h3{
    justify-content: start;

}

.title__subsection{
    font-size: 14px;
    
}

.title__network{
display: flex;
width: 100%;
gap: 12px;
margin: 1rem 0;
}

.title__network__item img{
    width: 9px;
}



/*Sección About*/

#sobre-mi{
    background-color:#EAF2FD;
    padding: 0 20px;

}

h3{
    /* background-color: aqua; */
    height: 55px;
    align-items: center;
    display: flex;
    
    /* position: relative; */
    /* font-weight: bold; */
    /* font-size: 3rem; */
    /* margin: 8rem; */
    
    
}

.paragraph{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* background-color: red; */
}
.paragraph img{
    width: 140px;
    margin: 0 0 20px 0;
}



/*Sección Skills*/

section.skills{
    /* z-index: 0; */
    width: auto;
    /* padding: 0 20px; */
    justify-content: center;
}
.line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 1rem;
    /* background-color: yellow; */
    

}
.img{
    margin-bottom: 10px;
}
.name{
font-weight: bold;
font-size: 16px;
}
.box{
    background-color: white;
    align-content: flex-end;
    width: 153px;
    height: 100px;
    margin: 15px;
    
}
.box ul{
    padding: 15px;
}



/*Sección Hobbies*/
/* 
section.hobbies{
    
} */

/* Experiencia Académica*/

section.academic{
    background-color: #EAF2FD;
    /* padding: 0%; */
    /* position: absolute; */
    padding: 0 20px;
    left: 0%;
    display: flex;
    width: auto;
    flex-direction: column;
    
   

}
.academic__courses{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center ;
    gap: 10px;
    width: 100%;
    margin: 0 0 1rem 0;
    /* background-color: blue; */
}
.academic__courses__box{
    width: 75%;
    height: auto;
    
    flex-grow: 1;
    

}
.academic__courses__list{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    

   
}
.academic__courses__list li{
    /* width: 70%; */
     
     /* flex-wrap: wrap; */
     
}
.academic__courses__item__title{
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}
.academic__courses__item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
    background-color: white;
    margin: 1rem 0;
}
.academic__courses__item__img img{
width: 84px;

}
/* experiencia*/

section.experience{
  
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 20px;
    
}
.experience__img{
width: 100%;
}
.experiencie__box{
    width: 100%;
    height: auto;  
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0 50px 0;

    
}
.experience__info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}
.experience__title{
    font-weight: bold;
    margin: 1rem 0;
    
}
.experience__text{
height: auto;
margin-bottom: 1rem;
}

.experience__description{
display: flex;

gap: 20px;
}
.experiencia__botao--repo{
color: #2A7AE4;
font-weight: bold;
border: 1px solid #2A7AE4;
height: 40px;
width: 108px;

}

.experience__botao--demo{
    color: white;
    font-weight: bold;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    height: 40px;
    width: 96px;
}


/*Contacto*/
.formcontato__img{
    display: none;
}
section.formcontato{
    background-color:#EAF2FD;
  
    padding: 0 20px;
  
    width: auto;

}

.formcontato__text h3{
    justify-content: start;

}
.formcontato__form{
    display: flex;
    flex-flow: column nowrap;
    padding:  20px 0;
    gap:20px;
    
}


.formcontato__subtext{
    font-size: 16px;
}
.formcontato__form input{
    height: 60px;
    
    
}
.formcontato__input{
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 5px;
    
}
#mensagem{
    height: 120px;
}


::placeholder{
    font-size: 16px;
    text-align:start;
    padding:  1rem ;
    font-family: Raleway;
   
    
}

.formcontato__input:focus{
    border: none;
    border-bottom: 2px solid #2A7AE4;
    outline: none;
    /* border-radius: 5px; */
}
.formcontato__botao{
    /* background-color: aqua;   */
    color: white;
    align-self: flex-start;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    font-weight: bold;
    height: 40px;
    width: 130px; 
    margin: 20px 0;
    
}
.contac-text{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 20px 0;
}
/*footeer*/

section.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 102px;
    background-color: white;
}
.footer__rodape{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 10px;
    font-size: 18px;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
 @media (min-width: 768px) {

    .academic__courses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        gap: 10px;
        width: 100%;
        margin: 0 0 1rem 0;
    }
    
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .title__container{
        width: 70%;
        align-content: center;
        
    }
    .title__profile{
        width: 98px;
        flex-grow: 1;
        align-self: center;
    
    }
    
        
        .menu__header{
            display: flex;
            justify-content: space-between;
            height: 4rem;
            padding: 0px 40px;
            align-items: center;
            font-size: 16px;
        }
        section.menu{
            width: 100%;
            padding: 0 0px;
            
            } 
        
        section.title{
            display: flex;
            padding: 0 40px;
        }
        
        section.skills{
            padding: 0 40px;
            justify-content: center;
        }
        section.hobbies{
            padding: 0 40px;
            justify-content: center;
        }   
        #sobre-mi{
            padding: 0 40px;
        
      
        }section.academic{
            background-color: #EAF2FD;
            padding: 0 40px;
            left: 0%;
            display: flex;
            width: auto;
            flex-direction: column;
        }section.experience{
  
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 40px;
            
        }section.formcontato{
            background-color:#EAF2FD;
          
            padding: 0 40px;
          
            width: auto;
        
        }section.footer{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 102px;
            background-color: white;
            padding: 0 40px;
        } 
        .formcontato__img{
            display: none;
        }
        
    
/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

 }

/*Desk*/
@media (min-width: 1400px) {
    body {
        box-sizing:border-box;
        /* width: ; */
        height: 4475px;
        /* position: relative; */
        /* background-color: red; */
        /* margin: 0px; */
        /* padding: 0px; */
        /* line-height: 25px; */
    }
    .tudo{
        width: 100%;
        /* position: absolute; */
    }
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
        /* background-color: red; */
    }
    
    .title__container{
        width: 70%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: aqua; */
    }
    .title__container h3{
        font-size: 60px;
        margin: 2rem 0;
    }
    .title__subsection{
        font-size: 20px;
        margin: 1rem 0;
    }
    .title__profile{
        width: 98px;
        flex-grow: 1;
        align-self: center;
    
    }
        
        section.menu{
            width: 100%;
            padding: 0px 0;
            /* background-color: rebeccapurple; */
            } 
            section.skills{
                /* z-index: 0; */
                /* width: auto; */
                padding: 0 120px;
                justify-content: center;
            }  
            section.hobbies{
                /* z-index: 0; */
                /* width: auto; */
                padding: 0 120px;
                justify-content: center;
            }   
        .menu__header{
            display: flex;
            justify-content: space-between;
            height: 4rem;
            padding: 0px 120px;
            align-items: center;
            font-size: 16px;
                }
                
                .nombre{
                    flex-wrap: nowrap;
                    gap: 16px;
                    display: flex;
                    font-weight: bold;    
                }    




        section.title{
            display: flex;
            padding: 0 120px;
        }
        
       
        #sobre-mi{
            /* background-color:#EAF2FD; */
            padding: 0 120px;
        
      
        }section.academic{
            background-color: #EAF2FD;
            padding: 0 120px;
            left: 0%;
            display: flex;
            width: auto;
            flex-direction: column;
        }section.experience{
  
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 120px;
            
        }section.formcontato{
            background-color:#EAF2FD;
          
            padding: 0 120px;
          
            width: auto;
        
        }section.footer{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 102px;
            background-color: white;
            padding: 0 120px;
        } 
    .academic__courses__item__img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        background-color: white;
        margin: 1rem 0;
        flex-grow: 1;
    }
   
    
    .experience__img{
        width: 70%;
    }
    
    .experience__info{
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .experiencie__box{
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
        
        /* flex-wrap: nowrap; */
    }
    #professional-reverse-1, #professional-reverse-2{
        flex-direction: row-reverse;
    }
    .formcontato__contacto{
            /* background-color: #2A7AE4; */
            background-color:#EAF2FD;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
            padding: 0 20px;
          
            width: auto;
        
        
    }
    .formcontato__img{
        display: flex;
        margin: 20px;
    }
}
   
   
/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

